<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white shadow Nunito">
  <!-- Section: Social media -->
  <section
    class=" socialMediaSection d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with me on social media:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="icons">
      <a href="https://wa.me/584126554382" class="me-4 text-reset">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="https://www.facebook.com/danielalejandro.prietogallani" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://x.com/daniel_A_prieto?s=09" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.instagram.com/_danielprieto?igsh=NTc4MTIwNjQ2YQ==" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="copyrightSection p-4 text-lg-center">
    © 2024 Created by: Daniel Prieto
    <a href="https://github.com/danip14" class="me-4 text-reset icons">
      <i class="bi bi-github"></i>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
